<h1> Game on! it's... </h1>
<h1> <%= @game.player_1.name %> vs <%= @game.player_2.name %>!!</h1>
<br>
<h2> <%= @game.player_1.name %> has <%=@game.player_1.hit_points%> hit points </h2>
<h2> <%= @game.player_2.name %> has <%=@game.player_2.hit_points%> hit points </h2>
<br>
<br>
<h2> It's <%= @game.current_turn.name %>'s turn </h2>
<br>
<form class="default" action="/attack">
  <button class="btn btn-danger" type="submit">Attack</button>
</form>
